<div>
  <section class="content-header mb-1">
    <div class="container-fluid">
      <h4><span>Add Patient</span></h4>
    </div>
  </section>
  <section class="content px-2 w-100">
    <div class="container-fluid pl-3">
      <div class="patient panel panel-default ">
        <legend class=" pl-3 pr-3">Patient Info</legend>
        <div class=" pl-1 pr-1 panel-body">
          <mat-form-field class="col-2">
            <mat-label>Reference Number</mat-label>
            <input matInput digitsOnly [(ngModel)]="referenceNumber" placeholder="Ex. 231412">
          </mat-form-field>
          <mat-form-field>
            <mat-label>National Number</mat-label>
            <input matInput [(ngModel)]="nationalId" placeholder="Ex. asdasdsad">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Patient Name</mat-label>
            <input matInput [(ngModel)]="name" placeholder="Ex. 231412">
          </mat-form-field>
          <div class="col-12">
            <mat-radio-group [(ngModel)]="selectedSex" aria-label="Select an option">
              <mat-radio-button class="mr-3" [value]=1>male</mat-radio-button>
              <mat-radio-button [value]=2>female</mat-radio-button>
            </mat-radio-group>
          </div>


          <mat-form-field>
            <mat-label>file numbrer </mat-label>
            <input matInput [(ngModel)]="fileNumber" placeholder="Ex. sadasdads">
          </mat-form-field>
          <mat-form-field class="pl-1 pr-1">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-2">
            <mat-label>Phone numbrer </mat-label>
            <input matInput placeholder="Ex. 00060606066">
          </mat-form-field>


         <div class="row">
           <doctorDD></doctorDD>
         </div>

          <mat-form-field class="pl-1 pr-1 w-50">
            <mat-label>Adress</mat-label>
            <textarea matInput rows="8" cols="120"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
</div>
