<!--<p>system-lookups works!</p>-->
<!--<p>Tawfiq dont forget this is the general page</p>-->
<!--<p>here the user can switch between lookups from a dropdown </p>-->

<div class="container">
    <div class="card card-custom gutter-b p-4">
        <div class="example-preview">
            <div>
                <h1>Select type of data</h1>

                <div class="row">
                    <div class="col my-4">
                        <select class="select-menu" name="" id="">
                            <option value="">Action 1</option>
                            <option value="">Action 1</option>
                            <option value="">Action 1</option>
                            <option value="">Action 1</option>
                            <option value="">Action 1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <allergies-lookups></allergies-lookups>

    </div>

</div>
