<!--<p>system-lookups works!</p>-->
<!--<p>Tawfiq dont forget this is the general page</p>-->
<!--<p>here the user can switch between lookups from a dropdown </p>-->

<div class="example-preview">
    <div>
        <h1>Select type of data</h1>

        <div class="row">
            <div class="col my-3">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Select type of data</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">Action - 1</button>
                        <button class="dropdown-item">Action - 2</button>
                        <button class="dropdown-item">Action - 3</button>
                        <button class="dropdown-item">Action - 4</button>
                        <button class="dropdown-item">Action - 5</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<allergies-lookups></allergies-lookups>
